@model IEnumerable<InfnetMVC.Models.Endereco>

@{
    ViewData["Title"] = "Endereços";
}

<style>
    .cover-container {
        max-width: 80%;
        border-radius: 3rem;
    }

    td {
        line-height: 3rem;
    }
</style>

<div class="card shadow p-5 cover-container">
    <h2><i class="fa-solid fa-address-book"></i> @ViewData["Title"]</h2>
    <hr />

    <p>
        <a class="shadow my-3 mb-4 p-2 btn btn-primary fs-5 rounded-pill" title="Criar" asp-action="Create">
            <i class="fa-solid fa-plus"></i>
            <span> Criar</span>
        </a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EnderecoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Logradouro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Municipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnderecoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Municipio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cep)
                    </td>
                    <td>
                        <a class="shadow btn btn-success btn-sm rounded-circle" title="Editar" asp-action="Edit" asp-route-id="@item.EnderecoId"><i class="fa fa-edit"></i></a><span class="opacity-0">__</span>
                        <a class="shadow btn btn-primary btn-sm rounded-circle" title="Detalhes" asp-action="Details" asp-route-id="@item.EnderecoId"><i class="fa fa-table"></i></a><span class="opacity-0">__</span>
                        <a class="shadow btn btn-danger btn-sm rounded-circle" title="Apagar" asp-action="Delete" asp-route-id="@item.EnderecoId"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>