@model IEnumerable<InfnetMVC.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
<style>
    .cover-container {
        max-width: 80%;
        border-radius: 3rem;
    }

    td {
        line-height: 3rem;
    }
</style>

<div class="card shadow p-5 cover-container">
    <h2><i class="fa-solid fa-users"></i> Funcionários</h2>
    <hr />

    <p>
        <a class="shadow my-3 mb-4 p-2 btn btn-primary fs-5 rounded-pill" title="Criar" asp-action="Create">
            <i class="fa-solid fa-plus"></i>
            <span> Criar</span>
        </a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento.Local)
                    </td>
                    <td>
                        <a class="shadow btn btn-success btn-sm rounded-circle" title="Editar" asp-action="Edit" asp-route-id="@item.FuncionarioId"><i class="fa fa-edit"></i></a><span class="opacity-0">__</span>
                        <a class="shadow btn btn-primary btn-sm rounded-circle" title="Detalhes" asp-action="Details" asp-route-id="@item.FuncionarioId"><i class="fa fa-table"></i></a><span class="opacity-0">__</span>
                        <a class="shadow btn btn-danger btn-sm rounded-circle" title="Apagar" asp-action="Delete" asp-route-id="@item.FuncionarioId"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>